.contentZone {
  display: flex;
  flex-direction: column;
  gap: var(--primitives-spacing-6);
  width: 100%;
}

.question {
  font-family: var(--primitives-fontFamily-ui), sans-serif;
  font-weight: var(--primitives-fontWeight-medium);
  font-size: calc(var(--primitives-fontSize-lg) * 1px);
  color: var(--semantic-color-text-primary);
  text-align: center;
  margin: 0;
}
